<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h2>
    <pre>
      ___.            __                         _____             .__ 
      \_ |__ ___.__._/  |_  ____   ___________ _/ ____\____ _______|__|
      | __ <   |  |\   __\/ __ \ /  ___/\__  \\   __\\__  \\_  __ \  |
      | \_\ \___  | |  | \  ___/ \___ \  / __ \|  |   / __ \|  | \/  |
      |___  / ____| |__|  \___  >____  >(____  /__|  (____  /__|  |__|
          \/\/                \/     \/      \/           \/          
    </pre>
    Multi purpose responsive traffic light (Angular 4) to embed in different UIs (see example below)
  </h2>
  <div>
    <app-traffic-light [trafficLightState]="trafficLightState"></app-traffic-light>
  </div>
<!--
  <div>
    constructor
    <pre><code>
      this.trafficLightState = TrafficLightState.undefined;
      this.trafficLightState$ = Observable.interval(2000)
          .map(i => Math.floor(Math.random() * 4));
    </code></pre>
    onInit
    <pre><code>  
      this.trafficLightState$.subscribe(state => this.trafficLightState = state);
    </code></pre>
  </div>
-->
  <div>
    <h4>
      Credits for traffic light css  
      <a href="https://codepen.io/samarkandiy/pen/JxnCF"> here</a>
    </h4>
  </div>
  <div> 
    <h4>
      Example use in <a href="https://github.com/start-angular/SB-Admin-BS4-Angular-4">SB Admin in Angular 4</a>
    </h4>
  </div>
  <div>
    <img src="assets/SBAdminNg4Phone.JPG"/>
  </div>
</div>


